<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>My Fitbit</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  </head>
  <body>
      <!-- Main -->
      <div class="container">
          <h1>MY FITBIT</h1>
          <h2>Login using Your Fitbit Developer Account</h2>
        <form  action="/auth/fitbit" method="GET">
          <input type="submit" value="LOGIN" class="btn">
        </form>
        <div class="pass-link">
          <a href="https://dev.fitbit.com/build/reference/web-api/developer-guide/getting-started/" >You don't have a Fitbit Developer Account?</a>
        </div>
    </div>
 
      <!-- End Main -->

    
  </body>